@tailwind base;
@tailwind components;
@tailwind utilities;


.header-box {
    width: 100vw;
    height: 10vh;
    margin-bottom: 5vh;
}

.header-child-box-right {
    width: 80vw;
    float: right;
}

.header-child-box-left {
    width: 20vw;
    padding-left: 5vw;
}

.header-menu-box {
    padding-right: 5vw;
}

.menu-item {
    color: black;
    height: 5vh;
    width: 6vw;
    margin-left: 15px;
    position: relative; 
}

.selected-menu-item {
    color: grey;
}

.selected-menu-item:hover {
    cursor: default; 
}

.unselected-menu-item:hover {
    background-color: grey;
}

.smaller-header {
    width: 100vw;
}