@tailwind base;
@tailwind components;
@tailwind utilities;

.header-box {
    width: 100vw;
    height: 10vh;
    margin-top: 5vh;
}

.header-child-box-right {
    width: 80vw;
}

.header-child-box-left {
    padding-left: 5vw; 
    width: 20vw;
}

.header-menu-box {
    float: right;
    padding-right: 5vw;
}

.selected-menu-item {
    color: grey;
    width: 6vw;
    height: 2.5vh;
}

.selected-menu-item:hover {
    cursor: default; 
}

.unselected-menu-item {
    width: 6vw;
    height: 2.5vh;
}

.unselected-menu-item:hover {
    color: red;
}