.education-section {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.education-header {
    font-weight: 400px;
    font-size: 36px;
    font-weight: 600;
}

.education-school {
    font-size: 30px;
    font-weight: 500;
}

.education-typography {
    font-size: 30px;
}

.education-mini-section {
    font-size: 20px;
}